/* 
 * Board styles
 */

#board {
  width: 90vw;
  max-width: min(90vh, 600px);
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: white;
}

.square[data-rank-even="true"][data-file-even="false"],
.square[data-rank-even="false"][data-file-even="true"] {
  background-color: black;
}
